body{
    margin: 0;
}

header{
    height: 200px;
    background-color: lightblue;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    padding-top: 0px;
}

main, footer{
    width: 1200px;
    margin: auto;
}


#logo{
    width: 200px;
    padding-top: 130px;
    margin-left: 90px;
}

            /*img intestazione*/

.titolo{
    margin-bottom: 0px;
}

.link{
    text-decoration: none;
}

figure{
    margin-left: 0;
}

.descr-foto{
    font-size: smaller;
}

.lista1{
    padding-left: 12px;
}

            /*tabella*/

table{
    width: 100%;
}

.lista{
    padding-left: 12px;
}

.terza-riga{
    width: 50%;
}

thead{
    background-color: rgb(70, 147, 225);
    color: white;

}

.celeste{
    background-color: aqua;
}

            /*img footer*/

.fin-descr{
    color: grey;
}

.fin-img{
    height: 200px;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat
}

.fin-img1{
    height: 200px;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat
}

.descr-footer{
    font-size: 30px;
    color: white;
}